body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 248, 171);
 
}
.heading{
  text-align: center;
   font-size: 30px;
  padding-bottom: 40px;
  margin-top: 150px ;
}
.u{
  background-color: rgb(221, 245, 41);
}
.card{
  position: grid;
  height:350px;
  width:500px;
  text-align: center;
  /* margin: auto; */
   margin: 0px auto; 
  background-color: white;
  box-shadow: 0px 0px 5px black ;
  border-radius: 3px;
}
.showImg{
  height:110px;
  width:110px;
  border-radius: 50%;
  padding-top: 10px;
  box-shadow: 0 0 30px -3px  rgba(128, 18, 18, 0.2);
  object-fit: cover;
  position: relative;
  border-width: 50px;
  
}
